/**********/
/* Colors */
/**********/
body>header, body>footer {
    background-color: rgb(212, 238, 255);
    padding: 1em;
}

main {
    padding: 1em;
}

aside {
    background-color: rgb(212, 255, 233);
    padding: 1em;
}